/* /* :root {
    font-size: 62.5%;
  }
  body{
    background-color:#092732;
  }
  * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    
  }
  
  .rules {
    font-size: 1.9em;
    margin-bottom: 10%;
  }

  #logo{
      position: relative;
      right: 40%;
  }


  .container {
    background-color: #092732;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .container > * {
    width: 90%;
  }
  
  .flex-column {
    display: flex;
    flex-flow: column;
  }
  
  h1 {
      position: absolute;
      bottom: 40%;
      left: 40%;
    font-size: 4.4rem;
    color:#FF2E8E;
    font-style: normal;
    
    font-family: Poppins;
    margin-bottom: 3rem;
  }
  #bounce{
      position: absolute;
      top: 90%;
      right: 20%;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background:#FF2E8E ;
    color: white;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 500;
  } */
  /* :root {
    font-size: 62.5%;
  }
  body{
    background-color:#092732;
  }
  * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    
  }
  
  .rules {
    font-size: 1.9em;
    margin-bottom: 10%;
  }
  /* UTILITIES */
  /* /* #logo{
      position: relative;
      right: 40%;
  }


  #container {
      width:960x;
      margin:0px;
  }
  
  .container > * {
    width: 90%;
  }
  
  .flex-column {
    display: flex;
    flex-flow: column;
  }
  
  h1 {
      position: inline;
      bottom: 40%;
      left: 40%;
    font-size: 4.4rem;
    color:whitesmoke;
    font-style: normal;
    /* font-weight:normal; */
    /* font-family: Poppins;
    margin-bottom: 1rem; */
  /* } */
  
/* 
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  /* .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background:#FF2E8E ;
    color: white;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
  }
  
  .btn:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  #logoNameThe{
      width: 60px;
  }
  #logoNameBouncingBall{
      width: 60px;
      float:left;

  }
  #ball{
      width: 100px;;
      height: auto;

  }
  img{
      text-align: center;
  }
  @media screen and  (max-width:959px){
      #container{
          width:100%;
      }
    
   }   */ 

   body{
       /* float:left; */
       width:100vw;
       height: 100vh;
       background-color: #092732;

   }
#logo{
    width:16em;
    height:25em;
    float:left;
    margin-left: 15em;
    margin-top: 5em;
}
h2{
    color:silver;
    float:left;
    margin-top:10em;

}
h1{
    color:white;
    /* float:left; */
    margin-top:8em;
}
#logoName{
    float:left;
    margin-left:0em;
}

#ball{
    /* float:left; */
    width:4em;
    height:3em;
    /* margin-bottom:30em; */

}