body{
    background-color:#092732;
}
.logo{
    height: 400px;
    width: auto;
}
.logoname{
    color:#ffff;
}
.ball{
    height: auto;
    width: 10%;
}
.marg{
    margin-top: 15em;
}

.the{
    margin-bottom: 5em;
}
.Bouncing{
    font-size: 4em;
}
.logoname1{
    margin-bottom: 2em;
}