canvas{background-color:#082631;}
.container{
   width: 98vw;
   height: 90vh;
   background-color:rgb(250, 244, 244);
   position: relative;
}
.container .canvas-position{
   position: absolute;
   top: 2%;
   left: 17%;
}